[Unit]
Description=Set /dev/null permissions
After=getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/chmod 0666 /dev/null

[Install]
WantedBy=multi-user.target
