[Unit]
Description=Flexget

[Service]
User=flexget
Group=flexget
ExecStart=/usr/local/bin/flexget -c /var/lib/flexget/config.yml -l /var/log/flexget.log daemon start -d

[Install]
WantedBy=multi-user.target
