[Unit]
Description=Jackett

[Service]
User=jackett
Group=jackett
ExecStart=/opt/jackett/jackett
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
