[Unit]
Description=Radarr

[Service]
User=radarr
Group=radarr
ExecStart=/opt/radarr/Radarr -nobrowser
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
