[Install]
WantedBy=multi-user.target

[Unit]
Description=A single pixel webserver
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pixelserv.pl
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
